body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(22, 22, 22);
  box-sizing: border-box;
  font-family: 'Syne Mono', sans-serif;
  overflow-y: auto;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  background: rgb(0,0,0);
  flex-shrink: 0;
  min-height: 82px;
  background: linear-gradient(180deg, rgba(0,0,0,1) 20%, rgba(0,0,0,0.11388305322128855) 100%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 82px;
  align-items: center;
}
header h1 {
  color: white;
  font-weight: 300;
  margin-left: 1rem;
  flex-grow: 1;
  min-width: 40%;
}

header span {
  border-bottom: solid red 4px;
}

.input-container {
  width: 100%;
  height: 100%;
  flex-grow: 3;
}

.input-container input {
  object-fit: cover;
  width: 100%;
  height: 98%;
  font-size: 2rem;
  margin-right: 1rem;
  padding: 0 0.3rem;
  color: white;
  background: none;
  font-family: "Syne Mono", sans-serif;
  outline: none;
}

header button {
  height: 100%;
  width: auto;
}

.image-array-container {
  width: 100%;
  height: 100%;
  margin-top: 90px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

